{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block post %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
       <br><br><br><br><br>
        {% comment %} <img src="{% static 'app/images/baraatimages/logout_img.png' %}"  style="width:800px; height:100px; padding-left:400px;">
        <img src="{% static 'app/images/baraatimages/logout_img.jpg' %}"> {% endcomment %}
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br>


  </div>
 </div>
</div>
{% endblock post %}




{% comment %} {%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include "quiz/navbar.html" %}

{% include "quiz/footer.html" %}

  </body>
</html> {% endcomment %}
