{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block post %}



<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        {% for object in obj %}
        <img src="{{object.image.url}}" class="card-img-top  img-fluid img-centered img-responsive" style="height:400px;width:500px">
        <hr>

        <p class=" text-muted">{{ object.author }} | {{ object.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
      {% endfor %}
    </div>
    {% comment %} {% for i in Post %}
        {{i.comments}}---zz
    
    {% endfor %} {% endcomment %}
    <hr>
    <div class="card my-4">
     <h5 class="card-header">Leave a Comment</h5>
     <div class="card-body">
     <form action="" method="POST" class='ui form'>
                {% csrf_token %}
     <div class="form-group">
     {{c_form|crispy}}
     {% comment %} <textarea class="form-control" row="3"></textarea> {% endcomment %}
     </div><br>
     <button class="btn-outline info" type="submit">Update</button>
     {% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
     </form>
     <hr>
    <div>
    <h3> Comments</h3><br><br>
    
    {% for p in postt %}
    {% comment %} {% for j in pro %} {% endcomment %}
    {% if not p%}
        No Comment.....
    {% else %}
    <img class="rounded-circle account-img mt-0" src="{{ p.auther.profile.image.url }}" alt="piic" style="height: 25px; width: 30px;">&nbsp;&nbsp;
        {% for i in pro %}
      <a href="{% url 'profiled' i.pk %}">
       
      {{p.auther}}{% endfor %}</a>
      {% comment %} {% for comment in post.comments.all %} {% endcomment %}
           &nbsp; <p> {{p.comment}}</p>
         
        {% comment %} {% endfor %} {% endcomment %}
    {% endif %}
    
    <hr>
     {% comment %} {% endfor %} {% endcomment %}
    {% endfor %}
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div> 

{% comment %} <form action="/Comment/" method='post'>
                    {% csrf_token %}
                    {{comment_form|crispy}} {% endcomment %}
                    {% comment %} <input type="submit" value="Submit" class="btn btn-primary my-2"> {% endcomment %}
                    {% comment %} <input type='text' name='comment' placeholder='Type Comment...'>
                    <input type='hidden' name='sno' value="{{post.sno}}">
                    <input type='submit' value='Submit'> {% endcomment %}
                
{% comment %} </form> {% endcomment %}

{% endblock post %}